body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #333;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
  }
  
  input, select {
    width: 220px;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px;
    margin: 5px 5px 0 0;
    font-size: 1rem;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #2980b9;
  }
  
  #results {
    margin-top: 20px;
    background: #ecf0f1;
    padding: 15px;
    border-radius: 4px;
  }
  
  #canvasContainer {
    flex: 1;
    position: relative;
  }
  
  
  #controls {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #controls button {
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 22px;
    cursor: pointer;
  }
  
  canvas {
    border: 1px solid #bdc3c7;
    cursor: grab;
    max-width: 100%;
    width: 8000px;
    height: auto;
  }
  
  canvas:active {
    cursor: grabbing;
  }
  
  #formSection {
    flex: 0 0 500px;
  }

  #legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
  }

  #exportBtn {
    position: absolute;
    bottom: 10px;
    right: 60px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  #exportBtn:hover {
    background: #27ae60;
  }
  
  

  @media (max-width: 768px) {
    body {
      margin: 10px;
    }
  
    #canvasContainer {
      margin-top: 20px;
      width: 100%;
    }
  
    canvas {
      width: 100% !important;
      height: auto !important;
      aspect-ratio: 2 / 1; /* Forcer un ratio largeur:hauteur */
      max-height: 400px;   /* éviter qu’il déborde trop */
    }
    
  
    #formSection {
      width: 100%;
    }
  
    body > div {
      flex-direction: column;
      align-items: stretch;
    }
  
    #fullscreenBtn {
      bottom: 5px;
      right: 5px;
      font-size: 16px;
    }
  }

  #controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  #controls button {
    font-size: 16px;
    padding: 5px 8px;
  }
  
  #controls button:hover {
    background: rgba(0,0,0,0.8);
  }
  
  